*~
#*
*#
.#*
.classpath
.project
.settings/
.springBeans
target/
config/*
bin/
logs/
_site/
.idea
*.iml
*.ipr
*.iws
.factorypath
*.log
.shelf
*.swp
*.swo
*-compiled.yaml
*.csr.*
*.srl
.DS_Store
cacerts

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
